.contacts-row{
    background-color: #FFDAC9;
}

.contacts-col-1-container{
    padding: 100px;
}

.contacts-col-1-container h1{
    font-family: "DIN";
    color: #333333;
    font-size: 52px;
}

.contacts-col-1-container p{
    font-family: "GillSans";
    color: #767676;
    font-size: 20px;
}

.inputs{
    display: flex;
    justify-content: space-between;
    padding: 0 100px 50px 100px;
}

.labels-inputs{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 50px;
}

.labels-inputs input{
    all:unset;
    border: none;
    border-bottom: 1px solid #000000;
    width: 250px;
}

.labels-inputs input::placeholder{
    font-family: "GillSans";
    color: #767676;
}


.labels-inputs select{
    background-color: #FFDAC9;
    border: none;
    border-bottom: 1px solid #000000;
    font-family: "GillSans";
    color: #767676;
}

.labels-inputs label {
    margin-bottom: 25px;
    font-family: "DIN";
    color: #333333;
    
}

.contacts-send-btn{
    margin-left: auto;
    display: flex;
    background-color: #333333;
    color: #FFDAC9;
    font-family: "DIN";
    letter-spacing: 0.18px;
}

.detail-img{
    display: flex;
    margin-left: auto;
    height: 100px;
}

.inputs-col-2{
    padding-top: 100px;
}

