.firstrow {
    height: 768px;
    background-color: #FFDAC9;
}

.counter-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter2 {
    font-family: "DIN";
    position: fixed;
    background-color: transparent;
    text-align: center;
}

.counter-container{
    height: 5rem;
    width: 2rem;
    position: fixed;
    background-image: url("../images/stripes2.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .counter-container{
        height: 2.5rem;
        width: 5rem;
    }
}


.request-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-info{
    font-family: "DIN";
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: white;
    text-align: center;
    padding: 0.2rem;
}

@media (max-width: 768px) {
    .request-info{
        transform: rotate(-90deg);
    }
}

.img-col{
    background-image: url("../images/home-img-no-letters.svg");
    background-size: 100% 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title{
    font-family: "DIN";
    text-align: center;
    font-size: 5rem;
    color: white;
    margin: 0;
    padding: 0;
}

.home-sub-title{
    font-family: "DIN";
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin: 0rem;
    padding: 0;
}

