/*  .firstRow {
  height: 600px;
  background-color: #FFDAC9; 
  background-size: 100% 100%;
  background-image: url("./images/home-section.png"); 
} */

.community-simulator{
  height: 800px;
  background-color: #F8F8F8;
}

.counter{
  position: sticky;
  top: 10px;
}

@font-face {
  font-family: "DIN";
  src: local("DIN"),
   url("./fonts/DIN-Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GillSans";
  src: local("GillSans"),
   url("./fonts/GillSans-01.ttf") format("truetype");
}